body {
  line-height: 1em;
  width: 1024px;
}

article.main {
  overflow: scroll;
}

div.maze {
  font-size: 16px;
  line-height: 16px;
  background-color: black;
}

span.space {
  color: black;
  background-color: white;
}

span.start {
  color: red;
  background-color: white;
}

span.fork {
  background-color: white;
}

span.fork a {
  color: blue;
  text-decoration: none;
}

span.fork a:hover {
  color: green;
  text-decoration: underline;
}

div.error {
  color: red;
}

@media screen and (max-width: 1024px) {
  div.maze {
    font-size: 6px;
    line-height: 6px;
  }
}
